.pagina-home {
    display: flex;
    flex-direction: column;
    margin: 30px;

    h1 {
        padding-top: 12px;
        padding-left: 20px;
        padding-bottom: 27px;
    }

    ul {
        list-style: none;

        a {
            text-decoration: none;
            color: #000;
        }

        a:hover {
            color: #2f72c9;
            font-weight: 700;
        }


        li {
            padding: 0px 0px 15px 10px;
            text-decoration: none;
            font-size: larger;
        }
    }
}